{{ asset_add("styles.css", "anomaly.field_type.colorpicker::scss/picker.scss") }}
{{ asset_add("styles.css", "anomaly.field_type.colorpicker::scss/input.scss") }}
{{ asset_add("scripts.js", "anomaly.field_type.colorpicker::js/picker.min.js") }}
{{ asset_add("scripts.js", "anomaly.field_type.colorpicker::js/input.js") }}

<div class="input-group">

    <span class="swatch"
          id="{{ field_type.input_name }}__swatch">
        <span class="swatch__color" style="background-color: {{ field_type.value }}"></span>
    </span>

    <input
            type="text"
            value="{{ field_type.value }}"
            id="{{ field_type.input_name }}"
            name="{{ field_type.input_name }}"
            data-value="{{ field_type.output }}"
            data-format="{{ field_type.config.format }}"
            placeholder="{{ trans(field_type.placeholder) ?: '#000000' }}"
            {{ html_attributes(field_type.attributes) }}
            {{ field_type.disabled ? 'disabled' }}
            {{ field_type.readonly ? 'readonly' }}>

</div>
