{{ asset_add("scripts.js", "anomaly.field_type.colorpicker::js/bootstrap-colorpicker.min.js") }}
{{ asset_add("scripts.js", "anomaly.field_type.colorpicker::js/input.js") }}
{{ asset_add("styles.css", "anomaly.field_type.colorpicker::css/bootstrap-colorpicker.min.css") }}

<div class="input-group colorpicker-component">

    <span class="input-group-addon">
        <i style="background-color: {{ field_type.value ?: '#ffffff' }}"></i>
    </span>

    <input
            type="text"
            class="form-control"
            name="{{ field_type.input_name }}"
            value="{{ field_type.value }}"
            placeholder="{{ trans(field_type.placeholder) ?: '#ffffff' }}">

</div>
